.header {
  display: flex;
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 10px;
}

.form {
  display: flex;
  gap: 15px;
}

.input {
  border-radius: 10px;
  border: none;
  width: 400px;
  padding-left: 10px;
}
